.uses {
  margin-top: -25px;
  --maxWidthL: var(--maxWidthM);
}

.section {
  opacity: 0;
  padding-top: var(--space2XL);
  padding-bottom: var(--space2XL);
  margin-top: var(--space2XL);

  &:global {
    animation: fadeIn 1s ease 1s forwards;
  }

  &+& {
    margin-top: 0;
  }
}

.speakers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em 2rem;
}

.team {
  padding: 28px 100px;
  text-align: center;
}

.card {
  display: inline-block;
  width: 250px;
  position: relative;
  margin: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 5px solid white;

}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: #Fe8300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(0, 1);
  transform-origin: center;
  transition: all 0.5s ease;

}

.box img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.info .name {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;

}

.info .details {
  margin: 10px;
  font-size: 1rem;
  font-weight: 900;
  color: white;
}

.card:hover .info {
  transform: scale(1, 1);
  transform-origin: center;

}

.cont {
  justify-content: space-between;
  text-align: center;
}

.pic {
  display: inline-block;
  display: block;
  max-width: 245px;
  max-height: 245px;
  width: auto;
  height: auto;

}

.headdown {
  margin-top: 25vh;
  font-size: 5.5rem;
  z-index: 10;
  text-align: center;
  padding-left: 100px;
}

@media only screen and (max-width: 700px) {
  .headdown {
    font-size: 3rem;
  }  
}