.container_right {
  display: flex;
  padding-top: 12px;
  width: 100%;
  align-items: flex-end;
  text-align: justify;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: nowrap;
}

.container_left {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  text-align: justify;
  gap: 2.5rem;
  flex-wrap: nowrap;
}

.content {
  flex: 3;
  transform: translateY(-12px);
}

.name {
  font-size: 2rem;
}

.desc {
  font-size: 1.01rem;
  max-width: 380px;
  min-width: 360px;
  position: relative;
}

.desc::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: #fe8300;
  height: 5px;
  width: 60%;
}

.image {
  width: min-content;
  flex: 1;
}

.img {
  border: 5px solid #fe8300;
  object-fit: cover;
}

@media screen and (max-width: 836px) {
  .container_right {
    flex-wrap: wrap-reverse;
  }
  .container_left {
    flex-wrap: wrap;
  }

  .image {
    display: flex;
    justify-content: center;
  }

  .content {
    text-align: center;
  }

  .desc {
    margin: auto;
  }

  .desc::after {
    content: '';
    position: absolute;
    left: 6%;
    width: 90%;
  }
}
